@use "../../global" as *;
@use "../../partials" as *;

.section-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: size(30);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ffbc13;
    bottom: size(-10);
    left: 0;
  }
}

footer {
  background-color: #1a1a1a;
  padding: 70px 0 60px;
  .footer-left {
    @include flex-column;
    gap: size(20);
    .footer-logo {
      height: 40px;
    }
    .footer-text {
      color: #979797;
    }
  }
  .links {
    display: flex;
    .footer-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: size(20);
      a {
        color: #979797;
        font-size: 14px;
        @include hover {
          color: #ffbc13;
          transform: translateX(8px);
        }
        &::before {
          content: "\f101";
          font-family: FontAwesome;
          margin-right: size(10);
        }
      }
    }
  }
}
