@use "../global" as *;
@use "../partials" as *;
.contactus {
  padding: size(50) size(0);
  .section-top {
    @include flex-column;
    align-items: center;
    padding-bottom: size(50);
    .title {
      text-transform: uppercase;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 150px;
        background-color: $primary;
        bottom: size(-10);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
